{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="container home" >
    <div class="row vertical-align">
        <div class="col-md-4">
            {% image page.picture fill-512x512-c80 class="img-fluid"%}
        </div>
        <div class="col-md-8">
            <h1 class="my-4">
                {{ page.title }}
            </h1>
            <h2 style="color:{{ page.title_color }}">{{ page.claim }}</h2>
            <div class="row">
                {% if page.stackoverflow_profile %}
                <div class="col-lg-2">
                    <a href="{{page.stackoverflow_profile}}">
                        <img height="50" width="50" src="{% static 'img/stack_overflow.png' %}" class="mx-auto d-block">
                    </a>
                    <div class="text-center">
                        Stackoverflow
                    </div>
                </div>
                {% endif %}
                {% if page.github_profile %}
                <div class="col-lg-2">
                    <a href="{{page.github_profile}}">
                        <img height="50" width="50" src="{% static 'img/github.png' %}" class="mx-auto d-block">
                    </a>
                    <div class="text-center">
                        GitHub
                    </div>
                </div>
                {% endif %}
                {% if page.linkedin_profile %}
                <div class="col-lg-2">
                    <a href="{{page.linkedin_profile}}">
                        <img height="50" width="50" src="{% static 'img/linkedin.png' %}" class="mx-auto d-block">
                    </a>
                    <div class="text-center">
                        LinkedIn
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    Earliest available for new projects: {{ earliest_available | date:"F Y" }}
                </div>
            </div>
            <div class="row">
                <div class="btn-group col-md-4" role="group">
                    {% if current_project %}
                        <a href="{% pageurl current_project %}" class="btn btn-outline-dark">current project</a>
                    {% endif %}

                    <a href="{% pageurl menu_items.portfolio %}" class="btn btn-outline-dark">to portfolio</a>

                    {% for form in forms %}
                        <a href="{% pageurl form %}" class="btn btn-outline-dark">{{ form.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="col-lg-6">

</div>
{% endblock %}
