{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">
        {{ page.name }}
    </h1>

    <div class="row">

        <div class="col-md-8">
            {% image page.logo fill-700x400-c100 class="img-fluid"%}
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Project Description</h3>
            <p>
                {{ page.summary }}
            </p>
            <p>
                Start date: {{ page.start_date }}
            </p>
            <p>
                Duration: {{ page.duration }} months
            </p>
        </div>

        <div class="col-md-12">
            {{ page.description | richtext}}
        </div>

    </div>
</div>
{% endblock %}
