{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="container">
    <h1 class="my-4" style="color:{{ page.title_color }}">
        Technologies
    </h1>

    <div class="row">
        {% for technology in technologies %}
        <div class="col-lg-3 technology-item">

            <div class="card h-100 bg-secondary text-white">
                <a href="{% pageurl portfolio %}?technology={{technology}}">
                    {% image technology.info.logo fill-100x100-c100 class="mx-auto d-block technology-logo" style="background:white;"%}
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        {{ technology }}
                    </h4>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
