[run]
omit = */tests/*, */migrations/*, */urls.py, */settings.py, */wsgi.py, manage.py, fabfile.py, tasks.py, filler.py, src/*,acceptance_tests/*
source = .

[report]
skip_covered = True
fail_under=93
sort = Miss
ignore_errors = True
