[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "<2.2,>=2.1"
Django = "==2.0.9"
gunicorn = "*"
django-toolbelt = "*"
django-colorful = "*"
whitenoise = "*"
django-storages = "*"
"boto3" = "*"
invoke = "*"
django-crispy-forms = "*"
django-dotenv = "*"
"django-recaptcha2" = "*"
sentry-sdk = "*"

[dev-packages]
django-livereload-server = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.6.6"
