[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "<2.2,>=2.1"
Django = "<2.1,>=2.0"
django-livereload-server = "*"
django-turbolinks = "*"
django-debug-toolbar = "*"
gunicorn = "*"
django-toolbelt = "*"
django-colorful = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.7"
