[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "<2.2,>=2.1"
Django = "==2.0.9"
django-turbolinks = "*"
gunicorn = "*"
django-toolbelt = "*"
django-colorful = "*"
whitenoise = "*"
django-storages = "*"
"boto3" = "*"
invoke = "*"
django-crispy-forms = "*"
django-dotenv = "*"
"django-recaptcha2" = "*"
sentry-sdk = "*"
django-extensions = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
wagtailfontawesome = "*"
smart-getenv = "*"
django-fsm = "*"
django-fsm-log = "*"
wagtail-markdown = "*"
pygments = "*"
holidays = "*"
django-mailbox = "*"
python-social-auth = {version = "*",extras = ["django"]}
social-auth-app-django = "*"
lxml = "*"

[dev-packages]
django-livereload-server = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "*"
webtest = "*"
django-webtest = "*"
factory-boy = "*"
pytest-factoryboy = "*"

[requires]
python_version = "3.7.1"
