{% load static wagtailuserbar %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/the-big-picture.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <a class="navbar-brand" href="/">sergey cheparev</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                {% for menu_item in menu_items %}
                <li class="nav-item {% if menu_item == page or page.get_parent.id == menu_item.id %}active{% endif %}">
                    <a class="nav-link" href="{% pageurl menu_item %}">
                        {{ menu_item }}
                    </a>
                </li>
                {% endfor %}
                + Search
                {% wagtailuserbar %}
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<section>
    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
{# Global javascript #}
{% if not user.is_authenticated %}
<script src="{% static 'turbolinks/turbolinks.js' %}"></script>
{% endif %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/portfolio.js' %}"></script>

{% block extra_js %}
{# Override this in templates to add extra javascript #}
{% endblock %}

</body>
</html>
