{% extends 'pdf_base.html' %}
{% load wagtailmarkdown %}

{% block body %}
<h3>Invoice {{instance.invoice_number}}</h3>
<table style="width: 100%; margin-bottom: 40%">
    <tbody>
    <tr>
        <td width="50%">
            To:
            {{ instance.payment_address | markdown}}
            <br>
            VAT ID: {{ instance.sender_vat_id }}
        </td>
        <td align="right">
            Issued at: {{ instance.issued_date }} <br>
            Delivered at: {{ instance.delivery_date }} <br>
            Payable to: {{ instance.payable_to }} <br>
            <br>
            TAX ID: {{ instance.tax_id }} <br>
            VAT ID: {{ instance.receiver_vat_id }}
        </td>
    </tr>
    </tbody>
</table>

<h2>{{ instance.title }}</h2>
<hr>
<table class="table">
    <thead>
    <tr>
        <th>Article</th>
        <th>Amount</th>
        <th>Price</th>
        <th>VAT, %</th>
        <th>VAT</th>
        <th>Price incl. VAT</th>
        <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    {% for position in instance.invoice_positions %}
    <tr>
        <td>{{ position.article }}</td>
        <td>{{ position.amount }}</td>
        <td>{{ position.price }}</td>
        <td>{{ position.invoice.vat }}</td>
        <td>{{ position.vat | floatformat:2 }}</td>
        <td>{{ position.price_with_vat | floatformat:2}}</td>
        <td>{{ position.total | floatformat:2 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<table style="width: 100%">
    <tbody>
    <tr>
        <td>
            <h3>Bank account</h3>
            {{ instance.bank_account }}
        </td>
        <td align="right">
            <h3>Contact</h3>
            {{ instance.contact_data }}
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
