{% extends 'pdf_base.html' %}
{% load wagtailimages_tags %}
{% load wagtailmarkdown %}
{% load i18n %}

{% block body %}
<table style="width: 100%; margin-bottom: 30%">
    <tbody>
    <tr style="height: 10em">
        <td>
            <h3>{% trans "Invoice" %} {{instance.invoice_number}}</h3>
        </td>
        <td align="right">
            {% image instance.logo fill-100x100-c100 class="img-fluid"%}
        </td>
    </tr>
    <tr>
        <td width="50%">
            <b>{% trans "To" %}</b>:
            {{ instance.payment_address | markdown}}
            <br>
            <b>{% trans "VAT ID" %}</b>: {{ instance.sender_vat_id }}
        </td>
        <td align="right">

            <b>{% trans "Issued at" %}</b>: {{ instance.issued_date }} <br>
            <b>{% trans "Delivered at" %}</b>: {{ instance.delivery_date }} <br>
            <b>{% trans "Payable to" %}</b>: {{ instance.payable_to }} <br>
            <br>
            <b>{% trans "TAX ID" %}</b>: {{ instance.tax_id }} <br>
            <b>{% trans "VAT ID" %}</b>: {{ instance.receiver_vat_id }}
        </td>
    </tr>
    </tbody>
</table>

<h2>{{ instance.title }}</h2>
<hr>
<table class="table">
    <thead>
    <tr>
        <th>{% trans "Article" %}</th>
        <th>{% trans "Amount" %},{{ instance.unit }}</th>
        <th>{% trans "Price" %}, {{ instance.currency }}</th>
        <th>{% trans "VAT" %}, %</th>
        <th>{% trans "VAT" %}, {{ instance.currency }}</th>
        <th>{% trans "Price incl. VAT" %}, {{ instance.currency }}</th>
        <th>{% trans "Subtotal" %}, {{ instance.currency }}</th>
    </tr>
    </thead>
    <tbody>
    {% for position in instance.invoice_positions %}
    <tr>
        <td>{{ position.article }}</td>
        <td>{{ position.amount }}</td>
        <td>{{ position.price }}</td>
        <td>{{ position.invoice.vat }}</td>
        <td>{{ position.vat | floatformat:2 }}</td>
        <td>{{ position.price_with_vat | floatformat:2}}</td>
        <td>{{ position.total | floatformat:2 }}</td>
    </tr>
    {% endfor %}
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>
            {% trans "VAT" %}, {{ instance.currency }}
        </th>
        <th>
            {{ instance.total_vat | floatformat:2 }}
        </th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>
            {% trans "Nett total" %}, {{ instance.currency }}
        </th>
        <th>
            {{ instance.nett_total | floatformat:2 }}
        </th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>
            {% trans "Total" %}, {{ instance.currency }}
        </th>
        <th>
            {{ instance.total | floatformat:2 }}
        </th>
    </tr>
    </tbody>
</table>


<table style="width: 100%; margin-top: 10%">
    <tbody>
    <tr>
        <td>
            <h3>{% trans "Bank account" %}</h3>
            {{ instance.bank_account | markdown }}
        </td>
        <td align="right">
            <h3>{% trans "Contact" %}</h3>
            {{ instance.contact_data | markdown }}
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
