{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}{{ view.page_title }} {{ view.get_page_subtitle }}{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title=view.page_title subtitle=view.get_page_subtitle icon=view.header_icon %}

    <div class="nice-padding">
        <h3 class="right">{{transition.source.upper }} <i class="icon icon-fa-arrow-right"></i>️ {{transition.target.upper }}</h3>

        {% if form.instance.manager %}
        <h2>Message for <a href="{% url 'crm_employee_modeladmin_edit' instance_pk=form.instance.manager.pk %}">{{form.instance.manager.full_name}}</a> {{form.instance.manager.email}}</h2>
        {% endif %}
        {% if form.message_template.pk %}
            <h3>Using template <a href="{% url 'crm_messagetemplate_modeladmin_edit' instance_pk=form.message_template.pk %}">{{form.message_template}}</a></h3>
        {% endif %}
        {% block before_form %}{% endblock %}
        <form action="{{ view.get_edit_url }}" method="POST" novalidate{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}

            {% block hidden_fields %}
                {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            {% endblock %}

            <ul class="fields">
                {% block visible_fields %}
                    {% for field in form.visible_fields %}
                        {% include "wagtailadmin/shared/field_as_li.html" %}
                    {% endfor %}
                {% endblock %}

                <li>
                    {% if form.next %}
                        <button id='next' name='next' type="submit" class="button button-secondary right"
                                    value="next">{% trans 'Next' %}</button>
                    {% else %}
                        <div class="button-group right">
                        {% if form.instance.manager %}
                        <button name='send' type="submit" class="button" value="send"><i class="icon icon-fa-send"></i> {% trans 'Send message' %}</button>
                        {% endif %}
                        <button id='change_state_button' name='change_state' type="submit" class="button button-secondary"
                                value="change_state"><i class="icon icon-fa-refresh"></i> {% trans 'Just change state' %}</button>
                        <a target="_blank" class="right button button-secondary" href="{% url 'crm_project_modeladmin_edit' instance_pk=form.instance.pk %}">
                            <i class="icon icon-fa-edit"></i> EDIT PROJECT
                        </a>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}
