.portfolio-logo {
    border-radius: 100px;
    margin: 20px;
}
.portfolio-item {
    border-radius: 4px;
}
.technology-logo {
    border-radius: 100px;
    margin: 20px;
}
.technology-item {
    border-radius: 4px;
}