.portfolio-logo {
    border-radius: 200px;
    margin: 20px 0px;
    background: white;
    border: solid 1px #373a3c;
}
@media (min-width: 576px){
    .portfolio-item {
        color: #373a3c;
        background-color: white;
        background-image: none;
        border-color: #373a3c;
        border: solid 1px !important
    }
    .technology-item {
        border-radius: 20px;
    }
    .home.container {
        margin-top: 200px;
    }
}
.technology-logo {
    border-radius: 100px;
    margin: 20px;
    border: solid 1px #373a3c;
}

.row {
    margin-top: 20px;
}
.card {
    border: none;
}
.vertical-align {
    display: flex;
    align-items: center;
}
