.project-state {
    text-transform: uppercase;
}
.right {
    float: right;
}
h2 {
    padding-top: 10px;
}
.inspect-header {
    padding-top: 10px;
}
.instance-selector-widget__display__image {
    float: left;
    margin-right: 10px;
}
.user-avatar {
    vertical-align:middle;
    border-radius: 100px;
}
.admin-thumb {
    vertical-align:middle;
    border-radius: 100px;
}
.project-description {
    max-width: 1000px;
}
