.project-state {
    text-transform: uppercase;
}
.right {
    float: right;
}
h2 {
    padding-top: 10px;
}
.inspect-header {
    padding-top: 10px;
}
.instance-selector-widget__display__image {
    float: left;
    margin-right: 10px;
}
