{% load wagtailmarkdown %}
{% load wagtailimages_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
    body {
        font-family: 'Lato';
        margin: 50px;
        font-size: 16px;
    };




    </style>
</head>
<body>
{% include "cv/front_page.html" %}

<!--Starting project descriptions-->
{% for page in project_pages %}
<table style="page-break-before: always;">
    <tbody>
    <tr>
        <td>
            <h2>Portfolio: {{project_page.title}}</h2>
        </td>
        {% if page.logo %}
        <td width="30%">
            {% image page.logo fill-256x256-c80 class="img-fluid"%}
        </td>
        {% endif %}
    </tr>
    </tbody>
</table>
{% endfor %}
</body>
</html>
