{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<table {% if instance.include_portfolio %}style="page-break-after: always;" {% endif %}>
    <tbody>
    <tr>
        <td valign="top" style="padding-right: 20px">
            <h1> {{ instance.full_name }}</h1>
            <h2>{{ instance.title }}</h2>

            {% if instance.project %}
            Application for: {{ instance.project}}, strictly confidential
            {% endif %}

            {{ instance.experience_overview | richtext }}
            <hr>
        </td>
        <td width="30%">
            {% image instance.picture fill-200x200-c80 class="img-fluid"%}
        </td>
    </tr>
    {% with relevant_skills=instance.relevant_skills.all %}
    <tr>
        <td valign="top" style="padding-right: 20px">
            <h2>{{ instance.project_listing_title }}</h2>

            {% for project in relevant_project_pages %}
            <h4><i class="fa fa-chevron-right"></i> {{project.title }}</h4>
            {% if project.duration %}
                <h4 class="my-3">{{ project.start_date | date:"M Y" }}, {{ project.duration }}
                    month{{project.duration|pluralize}}</h4>
            {% else %}
                <h4 class="my-3">Since {{ project.start_date | date:"M Y" }}</h4>
            {% endif %}

            <p>
                <strong>{{project.position }}</strong>,
                {{project.summary | safe}}
            </p>
            <p>
                {% if relevant_skills %} <i class="fa fa-cog"></i> {% endif %}
                {% for technology in project.technologies.all %}
                {% if technology in relevant_skills %}
                <span class="label label-default">{{ technology }}</span>
                {% endif %}
                {% endfor %}
            </p>
            <hr>
            {% endfor %}



        </td>
        <td valign="top">
            {% if instance.rate_overview %}
            <h3><i class="fa fa-credit-card"></i> Pay rate</h3>
            {{ instance.rate_overview | richtext }}
            {% endif %}

            <h3><i class="fa fa-calendar"></i> Availability </h3>
            {{ instance.earliest_available | date:"F Y" }}

            <h3><i class="fa fa-user"></i> Contact</h3>
            {{ instance.contact_details | richtext }}

            <h3><i class="fa fa-globe"></i> Languages</h3>
            {{ instance.languages_overview | richtext }}

            <h3><i class="fa fa-balance-scale"></i> Working permit</h3>
            {{ instance.working_permit | richtext }}

            <h3><i class="fa fa-cogs"></i> Skills</h3>
            {% for skill in skills %}
            {% if skill in relevant_skills %}
            <span class="label label-default">{{ skill }}</span>
            {% else %}
            {{ skill }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endwith %}

    <tr>
        <td>
            <h2><i class="fa fa-graduation-cap"></i> Education</h2>
            {{ instance.education_overview | richtext }}
        </td>
    </tr>
    </tbody>
</table>
