{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
<table style="page-break-before: always;" width="100%">
    <tbody>
    <tr>
        <td valign="top">
            <h2>Portfolio: {{page.title}}</h2>
            <h3 class="my-3">{{ page.start_date | date:"F Y" }}, {{ page.duration }}
                month{{page.duration|pluralize}}</h3>
            <h3>Position</h3>
            <p>
                {{ page.position }}
            </p>

            <h3>Responsibilities</h3>
            <ul>
                {% for responsibility in page.responsibilities.all %}
                <li>{{responsibility}}</li>
                {% endfor %}
            </ul>

            {% if page.project_url %}
            <h3>Link</h3>
            <p><a href="{{ page.project_url }}">{{ page.project_url }}</a></p>
            {% endif %}
        </td>
        {% if page.logo %}
        <td width="30%" align="right" valign="top" style="padding-left: 10px;">
            {% image page.logo fill-128x128-c80 class="img-fluid"%}

            <h3>Technologies</h3>
            {% for technology in page.technologies.all %}
            {% if technology in relevant_skills %}
            <span class="label label-default">{{ technology }}</span>
            {% else %}
            {{ technology }}
            {% endif %}
            {% endfor %}
        </td>
        {% endif %}
    </tr>
    <tr>
        <td valign="top">
            <h2>Project description</h2>
            {{ page.description | richtext}}
        </td>
    </tr>
    </tbody>
</table>
